/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
@media print {
  /* line 9, ../sass/bootstrap/_print.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 18, ../sass/bootstrap/_print.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../sass/bootstrap/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../sass/bootstrap/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 33, ../sass/bootstrap/_print.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 38, ../sass/bootstrap/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 44, ../sass/bootstrap/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 48, ../sass/bootstrap/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 53, ../sass/bootstrap/_print.scss */
  img {
    max-width: 100% !important;
  }

  /* line 57, ../sass/bootstrap/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 64, ../sass/bootstrap/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 73, ../sass/bootstrap/_print.scss */
  select {
    background: #fff !important;
  }

  /* line 78, ../sass/bootstrap/_print.scss */
  .navbar {
    display: none;
  }

  /* line 83, ../sass/bootstrap/_print.scss */
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }

  /* line 87, ../sass/bootstrap/_print.scss */
  .label {
    border: 1px solid #000;
  }

  /* line 91, ../sass/bootstrap/_print.scss */
  .table {
    border-collapse: collapse !important;
  }
  /* line 94, ../sass/bootstrap/_print.scss */
  .table td,
  .table th {
    background-color: #fff !important;
  }

  /* line 100, ../sass/bootstrap/_print.scss */
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
