#svg{
  display: block;
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  background:#fff;
  path{
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    @include transition(.3s);
    &:hover{
      stroke-width: 10px;
    }
  }
  .item{
    mix-blend-mode: multiply;
  }
  .icon{
    mix-blend-mode: multiply;
    cursor: pointer;
    circle{
      @include transition(.3s);
    }
    &:hover{
      circle{
        @include scale(1.5);
      }
    }
  }
  .dateGroup{
    .dateWrapperGroup{
      @include rotate(0deg);
      @include transition(.5s cubic-bezier(0.4, -0.5, 0.5, 1.4));
    }
    &.horizontal{
      .dateWrapperGroup{
        @include rotate(90deg);
        &.right{
          @include rotate(-90deg);
        }
      }
    }
    .right{
      .dateWrapper{
        @include rotate(180deg);
      }
    }
  }
}

@include keyframes('dialogHandlerFadeIn'){
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

@include keyframes('dialogHandlerFadeOut') {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes('dialogFadeOut'){
  0% {
    @include translate(0, 0);
  }
  100% {
    @include translate(0,-100vh); opacity: 0;
  }
}
@include keyframes('dialogFadeIn'){
  0%{ @include translate(0,50vh); opacity: 0 }
  100%{ @include translate(0,0); opacity: 1 }
}

.dialog-handler{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 3;
  background: transparentize(#fff,.5);
  @include animation(dialogHandlerFadeIn 1s both);
  &.fadeout{
    @include animation(dialogHandlerFadeOut 1s 1s both);
  }
}
.dialog{
  background:#000;
  color:#fff;
  width:600px;
  height:auto;
  margin: auto;
  position: absolute;
  left:0;
  right:0;
  top:25vh;
  @include animation(dialogFadeIn 1s 1s both);
  .fadeout &{
    @include animation(dialogFadeOut 1s both);

  }
  h2,h3,.description{
    margin: 0;
    @include box-sizing(border-box);
    padding: 5px 20px;
  }
  h2,h3{
    border-bottom: none;
  }
  h2{
    background: transparentize(#000, 0.8);
  }
  h3{
    border-top: none;
    background: transparentize(#000, 0.9);
    font-size:12px;
  }
  .description{
    border-top: none;
    background: transparentize(#fff,0.2);
  }
  .icon-cv{
    float:right;
    margin: 0 -10px;
  }
}