#svg{
  display: block;
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  background:#fff;
  path{
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    @include transition(.3s);
    &:hover{
      stroke-width: 10px;
    }
  }
  .item{
    mix-blend-mode: multiply;
  }
  .icon{
    mix-blend-mode: multiply;
    cursor: pointer;
    circle{
      @include transition(.3s);
    }
    &:hover{
      circle{
        @include scale(1.5);
      }
    }
  }
  .dateGroup{
    .dateWrapperGroup{
      @include rotate(0deg);
      @include transition(.5s cubic-bezier(0.4, -0.5, 0.5, 1.4));
    }
    &.horizontal{
      .dateWrapperGroup{
        @include rotate(90deg);
        &.right{
          @include rotate(-90deg);
        }
      }
    }
    .right{
      .dateWrapper{
        @include rotate(180deg);
      }
    }
  }
}

.dialog{
  background:#000;
  color:#fff;
  display: none;
  width:400px;
  max-width: 90%;
  height:300px;
  position: fixed;
  margin: auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  @include box-sizing(border-box);
  padding: 20px;
}