#svg{
  display: block;
  width:100vw;
  height:100vh;
  use,path{
    fill:none;
  }
  path{
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    &.red{
      stroke:$brand-primary;
    }
    &.blue{
      stroke: $brand-success;
    }
    &.black{
      stroke: $brand-info;
    }
  }
  #stage{
  }
  #center-mark{
    fill:transparentize(#ff0,.5);
  }
  #debug{
    use{
      fill:rgba(0,0,255,0.2);
      @include transition(.3);
      &:hover{
        fill: rgba(0, 0, 255, 0.7);
      }
    }
  }
}