@font-face {
  font-family: 'cv';
  src: url('../fonts/cv.eot?-shwtks');
  src: url('../fonts/cv.eot?#iefix-shwtks') format('embedded-opentype'),
  url('../fonts/cv.woff?-shwtks') format('woff'),
  url('../fonts/cv.ttf?-shwtks') format('truetype'),
  url('../fonts/cv.svg?-shwtks#cv') format('svg');
  font-weight: normal;
  font-style: normal;
}
