header {
  width: 760px;
  max-width: 100%;
  margin: -70px auto 0;
  text-align: center;
  position: relative;
  z-index: 1;
  top:20vh;
  cursor: default;
  &.up{
    h1 span, h2{
      @include translate(0,-50vh);
    }
    h1 span{
      @include transition-delay(.4s);
    }
    h1 span+span{
      @include transition-delay(.5s);
    }
    .headlines{
      h2 {
        @include transition-delay(.8s);
        & + h2 {
          @include transition-delay(.7s);
          & + h2 {
            @include transition-delay(.6s);
          }
        }
      }
    }
  }
}
h1 span,h2{
  @include transition(1s);
}
h1 {
  margin: 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 1em;
  letter-spacing: -.05em;
  text-transform: lowercase;
  span{
    display: inline-block;
  }
  &:after{
    //content:$fa-var-camera;
    font-family: 'FontAwesome';
  }
  span{
    @include transition-delay(.4s);
  }
  span + span{
    @include transition-delay(.3s);
  }
}
.headlines{
  display: table;
  margin: auto;
  h2 {
    font-weight: 700;
    font-size: 30px;
    display: inline-block;
    text-transform: lowercase;
    padding: .3em .4em;
    letter-spacing: .02em;
    display: table-cell;
    color: #000;
    background: #8Fc;
    @include transition-delay(0s);
    & + h2{
      background: #000;
      color: #fff;
      @include transition-delay(.1s);
      & + h2{
        background: #f40;
        color: #fff;
        @include transition-delay(.2s);
      }
    }
  }
}

@media(max-width:$screen-xs){
  h1{
    font-size:12vw;
  }
  h2{
  }
  .headlines{
    //display: block;
    h2{
      font-size: 5vw;
      //display: none;
    }
  }
}